form(method='post', action="/viewTutorial/" + post._id + "/comment")
              h5
                strong Name:
                center
                  label 
                    #{post.first_name}
                    #{post.last_name}
                      label
              h5
                strong Guild:
                br
                center 
                  label(name='body') #{post.guild}
                    label
              h5
                strong Message:
                br
                center 
                  label(name='date_delivered') #{post.message}
                    label
              h5
                strong Date & Time:
                br
                center 
                  label(name='locations') #{post.createdAt}
              iframe(width='560', height='315', src=post.video, frameborder='0', allowfullscreen='allowfullscreen')
              br
              if(user.admin==true)
                p.control
                  a.button.is-primary(href= "/viewTutorial/" + post._id + "/updateTutorial") Update
              if(user.admin==true)
                p.control
                  a.button.is-primary(href= "/viewTutorial/" + post._id + "/delete") Delete
              each comments, i in comment
                tr
                td= comments.user
                td= comments.commentMes
                td= comments.createdAt
                if(user.username==comments.username)
                  td
                    a.red-text(href= "/viewTutorial/" + post._id + "/" + comments._id + "/deleteComment")  delete
                br
              .form-group
                input.form-control(type='text', name="comment", placeholder='Comment here', required='')
              button.btn.btn-primary(type='submit') Comment
              p.control
               if(post.first_name=="Circuits")
                a(href="/viewTutorialCircuits") View a Tutorials
               if(post.first_name=="Electronics")
                a(href="/viewTutorialElectronics") View a Tutorials
               if(post.first_name=="Calculus")
                a(href="/viewTutorialCalculus") View a Tutorials
               if(post.first_name=="DSP")
                a(href="/viewTutorialDSP") View a Tutorials
   